<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,200" />
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/general.css">
    <title>STEMentor</title>
</head>

<body class="bg-gray">
    <header class="bg-violet" id="header">
        <div class="container">
            <div class="header-area d-m-flex justify-content-space-between">
                <div class="header-top d-m-flex">
                    <div class="logo t-c">
                        <a href="#"><img src="/static/img/STEMentor.png" alt="logo"></a>
                    </div>
                    <div class="search-bar t-c">
                        <form action="#" class="p-relative">
                            <input type="text" name="search" placeholder="Search..."
                                class="bg-white c-lightGray outline-0 b-0 b-rd-3 w-100">
                            <button type="submit"
                                class="bg-gray c-violet outline-0 b-0 b-t-r-3 b-b-r-3 pointer p-absolute">
                                <span class="material-symbols-outlined">search</span>
                            </button>
                        </form>
                    </div>
                </div>
                <nav class="bg-red p-xl-relative" id="navbar">
                    <ul class="d-xl-flex">
                        <li>
                            <a href="/home/name"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">home</span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href=/jobs"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">work</span>
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="/learn"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">school</span>
                                Learning
                            </a>
                        </li>
                        <li>
                            <a href="/message"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">chat_bubble</span>
                                Messages
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">supervisor_account</span>
                                Mentors
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">diversity_3</span>
                                Community
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">notifications</span>
                                Notification
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="user-info d-flex align-items-center justify-content-space-between">
                    <div class="info d-flex align-items-center">
                        <img src="/static/img/user-pic.png" alt="user">
                        <span class="c-white">{{name}}</span>
                    </div>
                    <span class="material-symbols-outlined c-white pointer d-xl-none">menu</span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content d-flex flex-d-column flex-d-m-row flex-wrap-wrap">
                <div class="left w-100">
                    <div class="box box-1 bg-white">
                        <div class="user-profile">
                            <div class="user-top bg-red">
                                <div class="user-img">
                                    <img src="/static/img/user-pic.png" alt="user" class="b-rd-50">
                                </div>
                            </div>
                            <div class="user-bottom bg-white t-c">
                                <h3 class="t-capitalize">{{name}}</h3>
                                <span class="c-mediumGray">Graphic Designer at Self Employed</span>
                            </div>
                            <ul class="d-flex flex-d-column align-items-center t-c">
                                <li class="w-100">
                                    <h4 class="t-capitalize c-mediumGray fs-20">following</h4>
                                    <span class="c-black fs-20">34</span>
                                </li>
                                <li class="w-100">
                                    <h4 class="t-capitalize c-mediumGray fs-20">followers</h4>
                                    <span class="c-black fs-20">155</span>
                                </li>
                                <li class="w-100">
                                    <a href="my-profile.html" class="c-violet t-capitalize fs-14">view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box box-2 bg-white">
                        <div class="sg-title d-flex align-items-center justify-content-space-between">
                            <h3 class="t-capitalize">suggestions</h3>
                            <span class="material-symbols-outlined pointer c-lightGray fs-16">more_vert</span>
                        </div>
                        <div class="sg-list">
                            <div class="sg-user d-flex">
                                <img src="/static/img/s1.png" alt="#" class="t-capitalize c-white">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">jessica william</h4>
                                    <span class="t-capitalize c-mediumGray">graphic designer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s2.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">john doe</h4>
                                    <span class="t-capitalize c-mediumGray">PHP developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s3.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">poonam</h4>
                                    <span class="t-capitalize c-mediumGray">wordpress developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s3.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">bill gates</h4>
                                    <span class="t-capitalize c-mediumGray">c & c++ developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s5.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">jessica william</h4>
                                    <span class="t-capitalize c-mediumGray">graphic designer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s6.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">john doe</h4>
                                    <span class="t-capitalize c-mediumGray">PHP developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="view-more t-c fs-14">
                                <a href="#" class="t-capitalize c-violet">view more</a>
                            </div>
                        </div>
                    </div>
                    <div class="box box-3 bg-white">
                        <div class="tags">
                            <ul class="d-flex align-items-center justify-content-center flex-wrap-wrap ">
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray fs-14">
                                        help center
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray">
                                        about
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray">
                                        privacy policy
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray">
                                        community guidelines
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray">
                                        cookies policy
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray">
                                        career
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray">
                                        language
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-capitalize c-lightGray">
                                        copyright
                                    </a>
                                </li>
                            </ul>
                            <div class="tags-bottom t-c">
                                <img src="/static/img/STEMentor.png" alt="logo">
                                <p class="t-capitalize">&copy; 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle w-100">
                    <div class="box box-4 bg-white">
                        <div class="post d-flex align-items-center justify-content-space-between flex-wrap-wrap">
                            <img src="/static/img/user-pic.png" alt="user">
                            <div class="post-btn d-flex align-items-center">
                                <a href="#" class="btn bg-violet c-white">Post</a>
                            </div>
                        </div>
                    </div>
                    {% for item in data %}
                    <div class="box box-5 bg-white">
                        <div class="post-section">
                            <div class="post-topbar d-flex align-items-center justify-content-space-between">
                                <div class="user-info d-flex align-items-center">
                                    <img src="/static/img/user-pic.png" alt="user">
                                    <div class="info">
                                        <h3 class="c-black t-capitalize">{{item["username"]}}</h3>
                                        <span class="c-lightGray">
                                            <span class="material-symbols-outlined">pace</span>
                                            3 min ago
                                        </span>
                                    </div>
                                </div>
                                <span class="material-symbols-outlined pointer c-lightGray fs-16">more_vert</span>
                            </div>
                            <div class="epic-sec">
                                <div class="job-desc">
                                    <p>
                                        {{item["postdesc"]}}
                                    </p>
                                    <img class="skill-tags d-flex align-items-center flex-wrap-wrap"
                                        src={{item["image"]}}>
                                    <div class="job-status-bar">
                                        <ul>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <span class="material-symbols-outlined">favorite</span>
                                                    like
                                                    <span>{{item["like"]}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <span class="material-symbols-outlined">comment</span>
                                                    comment
                                                    <span>{{item["comment"]}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <span class="material-symbols-outlined">visibility</span>
                                                    views
                                                    <span>{{item["views"]}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="box box-6">
                        <div class="top-profile">
                            <div class="title d-flex align-items-center justify-content-space-between">
                                <h3 class="t-capitalize c-black fs-20">top profiles</h3>
                                <span class="material-symbols-outlined pointer c-lightGray fs-16">more_vert</span>
                            </div>
                            <div class="profile-slider p-relative">
                                <span
                                    class="bg-white c-lightGray p-absolute b-rd-50 t-c d-flex align-items-center justify-content-center pointer">
                                    <span class="material-symbols-outlined fs-14 chevron-left">chevron_left</span>
                                </span>
                                <div class="slides">
                                    <div
                                        class="slide d-none active fade bg-white d-flex flex-d-column align-items-center">
                                        <img src="/static/img/user2.png" alt="user2">
                                        <h3 class="c-black t-capitalize fs-16">john doe</h3>
                                        <span class="c-lightGray t-capitalize">graphic designer</span>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <a href="#" class="t-capitalize c-white bg-green b-rd-3">follow</a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-white bg-blue b-rd-3">Mentor</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="t-capitalize c-black t-c w-100 fs-14">view profile</a>
                                    </div>
                                    <div class="slide d-none fade bg-white d-flex flex-d-column align-items-center">
                                        <img src="/static/img/user1.png" alt="user2">
                                        <h3 class="c-black t-capitalize fs-16">john doe</h3>
                                        <span class="c-lightGray t-capitalize">graphic designer</span>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <a href="#" class="t-capitalize c-white bg-green b-rd-3">follow</a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-white bg-blue b-rd-3">Mentor</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="t-capitalize c-black t-c w-100 fs-14">view profile</a>
                                    </div>
                                    <div class="slide d-none fade bg-white d-flex flex-d-column align-items-center">
                                        <img src="/static/img/user3.png" alt="user3">
                                        <h3 class="c-black t-capitalize fs-16">john doe</h3>
                                        <span class="c-lightGray t-capitalize">graphic designer</span>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <a href="#" class="t-capitalize c-white bg-green b-rd-3">follow</a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-white bg-blue b-rd-3">hire</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="t-capitalize c-black t-c w-100 fs-14">view profile</a>
                                    </div>
                                </div>
                                <span
                                    class="bg-white c-lightGray p-absolute b-rd-50 t-c d-flex align-items-center justify-content-center pointer">
                                    <span class="material-symbols-outlined chevron-rignt">chevron_right</span>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="right w-100">
                    <div class="box box-10 bg-white">
                        <div class="top-jobs">
                            <div class="title d-flex align-items-center justify-content-space-between">
                                <h3 class="c-black t-capitalize">top jobs</h3>
                                <span class="material-symbols-outlined pointer c-lightGray fs-16">more_vert</span>
                            </div>
                            {% for j in jdata %}
                            <div class="job-list">
                                <div class="job-info d-flex align-items-center justify-content-space-between">
                                    <div class="job-detail">
                                        <h3 class="c-black t-capitalize fs-14">{{j['jname']}}</h3>
                                        <p>{{j['jdesc']}}</p>
                                    </div>
                                    <div class="money c-black fs-14">
                                        {{j['payment']}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box box-11 bg-white">
                        <div class="top-jobs">
                            <div class="title d-flex align-items-center justify-content-space-between">
                                <h3 class="c-black t-capitalize">most viewed this week</h3>
                                <span class="material-symbols-outlined pointer c-lightGray fs-16">more_vert</span>
                            </div>
                            {% for j in jdata %}
                            <div class="job-list">
                                <div class="job-info d-flex align-items-center justify-content-space-between">
                                    <div class="job-detail">
                                        <h3 class="c-black t-capitalize fs-14">{{j['jname']}}</h3>
                                        <p>{{j['jdesc']}}</p>
                                    </div>
                                    <div class="money c-black fs-14">
                                        {{j['payment']}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box box-12 bg-white">
                        <div class="sg-title d-flex align-items-center justify-content-space-between">
                            <h3 class="t-capitalize">most viewed people</h3>
                            <span class="material-symbols-outlined pointer c-lightGray fs-16">more_vert</span>
                        </div>
                        <div class="sg-list">
                            <div class="sg-user d-flex">
                                <img src="/static/img/s1.png" alt="#" class="t-capitalize c-white">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">jessica william</h4>
                                    <span class="t-capitalize c-mediumGray">graphic designer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s2.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">john doe</h4>
                                    <span class="t-capitalize c-mediumGray">PHP developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s3.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">poonam</h4>
                                    <span class="t-capitalize c-mediumGray">wordpress developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s3.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">bill gates</h4>
                                    <span class="t-capitalize c-mediumGray">c & c++ developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s5.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">jessica william</h4>
                                    <span class="t-capitalize c-mediumGray">graphic designer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="sg-user d-flex">
                                <img src="/static/img/s6.png" alt="">
                                <div class="sg-text">
                                    <h4 class="t-capitalize">john doe</h4>
                                    <span class="t-capitalize c-mediumGray">PHP developer</span>
                                </div>
                                <span
                                    class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                    <span class="material-symbols-outlined">add</span>
                                </span>
                            </div>
                            <div class="view-more t-c">
                                <a href="#" class="t-capitalize c-violet fs-14">view more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        let headerContainer = document.querySelector('#header');

        function createHeader(name) {
            var n = name;
            let header = `
    <div class="container">
    <div class="header-area d-m-flex justify-content-space-between">
        <div class="header-top d-m-flex">
            <div class="logo t-c">
                <a href="#"><img src="/static/img/STEMentor.png" alt="logo"></a>
            </div>
            <div class="search-bar t-c">
                <form action="#" class="p-relative">
                    <input type="text" name="search" placeholder="Search..." class="bg-white c-lightGray outline-0 b-0 b-rd-3 w-100">
                    <button type="submit" class="bg-gray c-violet outline-0 b-0 b-t-r-3 b-b-r-3 pointer p-absolute">
                        <span class="material-symbols-outlined">search</span>
                    </button>
                </form>
            </div>
        </div>
        <nav class="bg-red p-xl-relative" id="navbar">
            <ul class="d-xl-flex">
                <li>
                    <a href="/home/name" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">home</span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/jobs" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">work</span>
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="/learn" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">school</span>
                        Learning
                    </a>
                </li>
                <li>
                    <a href="/message" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">chat_bubble</span>
                        Messages
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">supervisor_account</span>
                        Mentors
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">diversity_3</span>
                        Community
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">notifications</span>
                        Notification
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user-info d-flex align-items-center justify-content-space-between">
            <div class="info d-flex align-items-center">
                <img src="/static/img/user-pic.png" alt="user">
                <span class="c-white">{{name}}</span>
            </div>
            <span class="material-symbols-outlined c-white pointer d-xl-none">menu</span>
        </div>
    </div>
</div>
`;
            headerContainer.innerHTML = header;
        }

        createHeader();

        let btnMenu = document.querySelector('.user-info .material-symbols-outlined');
        let menu = document.querySelector('#navbar');

        btnMenu.addEventListener('click', () => {
            menu.classList.toggle('active');
        });
    </script>
    <script src="/static/js/slide.js"></script>
</body>

</html>