<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,200" />
    <link rel="stylesheet" href="/static/css/learn.css">
    <link rel="stylesheet" href="/static/css/general.css">
    <title>STEMentor</title>
</head>
<body class="bg-grey">
    <header class="bg-violet" id="header">
        <div class="container">
            <div class="header-area d-m-flex justify-content-space-between">
                <div class="header-top d-m-flex">
                    <div class="logo t-c">
                        <a href="#"><img src="/static/img/STEMentor.png" alt="logo"></a>
                    </div>
                    <div class="search-bar t-c">
                        <form action="#" class="p-relative">
                            <input type="text" name="search" placeholder="Search..."
                                class="bg-white c-lightGray outline-0 b-0 b-rd-3 w-100">
                            <button type="submit"
                                class="bg-gray c-violet outline-0 b-0 b-t-r-3 b-b-r-3 pointer p-absolute">
                                <span class="material-symbols-outlined">search</span>
                            </button>
                        </form>
                    </div>
                </div>
                <nav class="bg-red p-xl-relative" id="navbar">
                    <ul class="d-xl-flex">
                        <li>
                            <a href="/home/name"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">home</span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/jobs"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">work</span>
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="/learn"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">school</span>
                                Learning
                            </a>
                        </li>
                        <li>
                            <a href="/message"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">chat_bubble</span>
                                Messages
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">supervisor_account</span>
                                Mentors
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">diversity_3</span>
                                Community
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">notifications</span>
                                Notification
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="user-info d-flex align-items-center justify-content-space-between">
                    <div class="info d-flex align-items-center">
                        <img src="/static/img/user-pic.png" alt="user">
                        <span class="c-white">Faisal</span>
                    </div>
                    <span class="material-symbols-outlined c-white pointer d-xl-none">menu</span>
                </div>
            </div>
        </div>
    </header>
    <section class="home" id="home">

        <h1>education from home</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum neque aliquid similique error velit placeat vitae accusantium est nam magnam?</p>
        <a href="#"><button class="btn">get started</button></a>
    
        <div class="shape"></div>
    
    </section>
    <section class="about" id="about">
    
        <div class="image">
            <img src="/static/img/about-img.png" alt="">
        </div>
    
        <div class="content">
            <h3>why choose us?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aperiam quaerat dolor voluptas nobis voluptates illum? Inventore voluptas dolore voluptates.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex delectus ducimus dignissimos pariatur. Amet sed distinctio earum dolorum nulla, in obcaecati aliquid modi quos magni ducimus culpa nobis laudantium incidunt.</p>
            <a href="#"><button class="btn">learn more</button></a>
        </div>
    
    </section>    
    <section class="course" id="course">
    
    <h1 class="heading">our popular courses</h1>    
    
    <div class="box-container">
    
        <div class="box">
            <img src="/static/img/course-1.png" alt="">
            <h3 class="price">499 INR</h3>
            <div class="content">
                <div class="stars">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <a href="#" class="title">learn front end development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
                <div class="info">
                    <h3> <span class="material-symbols-outlined">schedule</span> 2 hours </h3>
                    <h3> <span class="material-symbols-outlined">calendar_month</span> 6 months </h3>
                    <h3> <span class="material-symbols-outlined">library_books</span> 12 modules </h3>
                </div>
            </div>
        </div>
    
        <div class="box">
            <img src="/static/img/course-2.png" alt="">
            <h3 class="price">499 INR</h3>
            <div class="content">
                <div class="stars">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <a href="#" class="title">learn front end development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
                <div class="info">
                    <h3> <span class="material-symbols-outlined">schedule</span> 2 hours </h3>
                    <h3> <span class="material-symbols-outlined">calendar_month</span> 6 months </h3>
                    <h3> <span class="material-symbols-outlined">library_books</span> 12 modules </h3>
                </div>
            </div>
        </div>
    
        <div class="box">
            <img src="/static/img/course-3.png" alt="">
            <h3 class="price">499 INR</h3>
            <div class="content">
                <div class="stars">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <a href="#" class="title">learn front end development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
                <div class="info">
                    <h3> <span class="material-symbols-outlined">schedule</span> 2 hours </h3>
                    <h3> <span class="material-symbols-outlined">calendar_month</span> 6 months </h3>
                    <h3> <span class="material-symbols-outlined">library_books</span> 12 modules </h3>
                </div>
            </div>
        </div>
    
        <div class="box">
            <img src="/static/img/course-4.png" alt="">
            <h3 class="price">499 INR</h3>
            <div class="content">
                <div class="stars">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <a href="#" class="title">learn front end development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
                <div class="info">
                    <h3> <span class="material-symbols-outlined">schedule</span> 2 hours </h3>
                    <h3> <span class="material-symbols-outlined">calendar_month</span> 6 months </h3>
                    <h3> <span class="material-symbols-outlined">library_books</span> 12 modules </h3>
                </div>
            </div>
        </div>
    
        <div class="box">
            <img src="/static/img/course-5.png" alt="">
            <h3 class="price">499 INR</h3>
            <div class="content">
                <div class="stars">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <a href="#" class="title">learn front end development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
                <div class="info">
                    <h3> <span class="material-symbols-outlined">schedule</span> 2 hours </h3>
                    <h3> <span class="material-symbols-outlined">calendar_month</span> 6 months </h3>
                    <h3> <span class="material-symbols-outlined">library_books</span> 12 modules </h3>
                </div>
            </div>
        </div>
    
        <div class="box">
            <img src="/static/img/course-6.png" alt="">
            <h3 class="price">499 INR</h3>
            <div class="content">
                <div class="stars">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <a href="#" class="title">learn front end development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
                <div class="info">
                    <h3> <span class="material-symbols-outlined">schedule</span> 2 hours </h3>
                    <h3> <span class="material-symbols-outlined">calendar_month</span> 6 months </h3>
                    <h3> <span class="material-symbols-outlined">library_books</span> 12 modules </h3>
                </div>
            </div>
        </div>
    
    </div>
    
    </section>
    <section class="teacher" id="teacher">
    
    <h1 class="heading">our expert teachers</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At non explicabo tempora modi, reprehenderit ratione sunt ea porro tenetur officiis alias sapiente praesentium voluptas cumque quo maiores dolores totam ex.</p>
    
    <a href="#"><button class="btn">learn more</button></a>
    
    </section>

    <section class="contact" id="contact">
    
    <h1 class="heading">contact us</h1>
    
    <div class="row">
    
        <form action="">
            <input type="text" placeholder="full name" class="box">
            <input type="email" placeholder="your email" class="box">
            <input type="password" placeholder="your password" class="box">
            <input type="number" placeholder="your number" class="box">
            <textarea name="" id="" cols="30" rows="10" class="box address" placeholder="your address"></textarea>
            <input type="submit" class="btn" value="send now">
        </form>
    
        <div class="image">
            <img src="/static/img/contact-img.png" alt="">
        </div>
    
    </div>
    
    </section>
    <script>
        let headerContainer = document.querySelector('#header');

        function createHeader(name) {
            var n = name;
            let header = `
    <div class="container">
    <div class="header-area d-m-flex justify-content-space-between">
        <div class="header-top d-m-flex">
            <div class="logo t-c">
                <a href="#"><img src="/static/img/STEMentor.png" alt="logo"></a>
            </div>
            <div class="search-bar t-c">
                <form action="#" class="p-relative">
                    <input type="text" name="search" placeholder="Search..." class="bg-white c-lightGray outline-0 b-0 b-rd-3 w-100">
                    <button type="submit" class="bg-gray c-violet outline-0 b-0 b-t-r-3 b-b-r-3 pointer p-absolute">
                        <span class="material-symbols-outlined">search</span>
                    </button>
                </form>
            </div>
        </div>
        <nav class="bg-red p-xl-relative" id="navbar">
            <ul class="d-xl-flex">
                <li>
                    <a href="/home/name" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">home</span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/jobs" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">work</span>
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="/learn" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">school</span>
                        Learning
                    </a>
                </li>
                <li>
                    <a href="/message" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">chat_bubble</span>
                        Messages
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">supervisor_account</span>
                        Mentors
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">diversity_3</span>
                        Community
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">notifications</span>
                        Notification
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user-info d-flex align-items-center justify-content-space-between">
            <div class="info d-flex align-items-center">
                <img src="/static/img/user-pic.png" alt="user">
                <span class="c-white">{{name}}</span>
            </div>
            <span class="material-symbols-outlined c-white pointer d-xl-none">menu</span>
        </div>
    </div>
</div>
`;
            headerContainer.innerHTML = header;
        }

        createHeader();

        let btnMenu = document.querySelector('.user-info .material-symbols-outlined');
        let menu = document.querySelector('#navbar');

        btnMenu.addEventListener('click', () => {
            menu.classList.toggle('active');
        });
    </script>
</body>
</html>