<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,200" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/message.css">
    <title>STEMentor</title>
</head>

<body class="bg-gray">
    <header class="bg-violet" id="header">
        <div class="container">
            <div class="header-area d-m-flex justify-content-space-between">
                <div class="header-top d-m-flex">
                    <div class="logo t-c">
                        <a href="#"><img src="/static/img/STEMentor.png" alt="logo"></a>
                    </div>
                    <div class="search-bar t-c">
                        <form action="#" class="p-relative">
                            <input type="text" name="search" placeholder="Search..."
                                class="bg-white c-lightGray outline-0 b-0 b-rd-3 w-100">
                            <button type="submit"
                                class="bg-gray c-violet outline-0 b-0 b-t-r-3 b-b-r-3 pointer p-absolute">
                                <span class="material-symbols-outlined">search</span>
                            </button>
                        </form>
                    </div>
                </div>
                <nav class="bg-red p-xl-relative" id="navbar">
                    <ul class="d-xl-flex">
                        <li>
                            <a href="/home/name"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">home</span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href=/jobs"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">work</span>
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="/learn"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">school</span>
                                Learning
                            </a>
                        </li>
                        <li>
                            <a href="/message"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">chat_bubble</span>
                                Messages
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">supervisor_account</span>
                                Mentors
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">diversity_3</span>
                                Community
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                                <span class="material-symbols-outlined">notifications</span>
                                Notification
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="user-info d-flex align-items-center justify-content-space-between">
                    <div class="info d-flex align-items-center">
                        <img src="/static/img/user-pic.png" alt="user">
                        <span class="c-white">{{name}}</span>
                    </div>
                    <span class="material-symbols-outlined c-white pointer d-xl-none">menu</span>
                </div>
            </div>
        </div>
    </header>
    <div class="chat-wrapper">
    <div class="chat-box">
        <div class="chat-header">
          <div class="chat-title">Chat Room</div>
        </div>
        <div class="contact-list">
          <div class="contact">
            <div class="contact-name">John</div>
            <div class="contact-status online"></div>
          </div>
          <div class="contact">
            <div class="contact-name">Sarah</div>
            <div class="contact-status offline"></div>
          </div>
          <div class="contact">
            <div class="contact-name">Mark</div>
            <div class="contact-status online"></div>
          </div>
          <!-- more contacts... -->
        </div>
        <div class="chat-messages">
          <div class="message-container">
            <div class="message-sender">John</div>
            <div class="message-text">Hey, how's it going?</div>
          </div>
          <div class="message-container">
            <div class="message-sender">Sarah</div>
            <div class="message-text">Not bad, thanks. How about you?</div>
          </div>
          <!-- more messages... -->
        </div>
        <div class="chat-input">
          <input type="text" placeholder="Type your message...">
          <button>Send</button>
        </div>
      </div>
    </div>
    <script>
        let headerContainer = document.querySelector('#header');

        function createHeader(name) {
            var n = name;
            let header = `
    <div class="container">
    <div class="header-area d-m-flex justify-content-space-between">
        <div class="header-top d-m-flex">
            <div class="logo t-c">
                <a href="#"><img src="/static/img/STEMentor.png" alt="logo"></a>
            </div>
            <div class="search-bar t-c">
                <form action="#" class="p-relative">
                    <input type="text" name="search" placeholder="Search..." class="bg-white c-lightGray outline-0 b-0 b-rd-3 w-100">
                    <button type="submit" class="bg-gray c-violet outline-0 b-0 b-t-r-3 b-b-r-3 pointer p-absolute">
                        <span class="material-symbols-outlined">search</span>
                    </button>
                </form>
            </div>
        </div>
        <nav class="bg-red p-xl-relative" id="navbar">
            <ul class="d-xl-flex">
                <li>
                    <a href="/home/name" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">home</span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/jobs" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">work</span>
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="/learn" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">school</span>
                        Learning
                    </a>
                </li>
                <li>
                    <a href="/message" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">chat_bubble</span>
                        Messages
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">supervisor_account</span>
                        Mentors
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">diversity_3</span>
                        Community
                    </a>
                </li>
                <li>
                    <a href="#" class="t-capitalize c-white d-xl-flex flex-d-xl-column align-items-xl-center fs-14">
                        <span class="material-symbols-outlined">notifications</span>
                        Notification
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user-info d-flex align-items-center justify-content-space-between">
            <div class="info d-flex align-items-center">
                <img src="/static/img/user-pic.png" alt="user">
                <span class="c-white">{{name}}</span>
            </div>
            <span class="material-symbols-outlined c-white pointer d-xl-none">menu</span>
        </div>
    </div>
</div>
`;
            headerContainer.innerHTML = header;
        }

        createHeader();

        let btnMenu = document.querySelector('.user-info .material-symbols-outlined');
        let menu = document.querySelector('#navbar');

        btnMenu.addEventListener('click', () => {
            menu.classList.toggle('active');
        });
        $(document).ready(function () {
            $('#action_menu_btn').click(function () {
                $('.action_menu').toggle();
            });
        });
    </script>
</body>

</html>